.mnn_recommend { margin:5px 0; }
.mnn_recommend .count { background: url("../img/ncomment.png") no-repeat scroll 0 0 transparent; font-size: 11px; overflow: hidden; padding-bottom: 5px; padding-left: 3px; height: 15px; padding-top: 2px; }
.mnn_recommend .count-no { border: 1px solid #D3D1D1; border-left: 0; line-height: 13px; padding: 2px 5px 2px; height: 15px; display:inline-block; }
.mnn_recommend .recommend { background: url("../img/tab-off.png") repeat scroll 0 0 transparent; border: 1px solid #D3D1D1; float: left; font-size: 11px; margin-right: 5px; padding: 0px 4px 1px; }
.mnn_recommend .recommended { background: none repeat scroll 0 0 #DDDDDD; border: 1px solid #D3D1D1; color: #999999; float: left; font-size: 11px; line-height: 16px; margin-right: 5px; padding: 1px 3px 2px; }
.recommend a{
	text-decoration:none;
}
